
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #fcfdff;
    color: rgb(12, 12, 12);
}



.navbar {
    position: absolute;
    top: 15px;
    right: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #3c4043;
    font-size: 14px;
}

.navbar a:hover {
    text-decoration: underline;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

.icon-btn svg {
    width: 22px;
    height: 22px;
    fill: #3c4043;
}

.icon-btn:hover {
    background: rgba(23, 23, 23, 0.1);
}

.profile {
    width: 35px;
    height: 35px;
    background: #a142f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 90px;
    font-weight: 500;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
}

.blue { color: #4285F4; }
.red { color: #EA4335; }
.yellow { color: #FBBC05; }
.green { color: #34A853; }


.search-box {
    width: 650px;
    max-width: 90%;
    background: #eaecf1;
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

.search-box:hover {
    background: #cad1d6;
}

.left-section {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-icon {
    font-size: 22px;
    color: #9aa0a6;
    margin-right: 10px;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: rgb(26, 25, 25);
    font-size: 16px;
    width: 100%;
}



.search-tools {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tool-icon {
    font-size: 22px;
    color: #9aa0a6;
    cursor: pointer;
}

.tool-icon:hover {
    color: white;
}

.ai-button {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #e8edf1;
    border: none;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(9, 8, 8);
    font-size: 14px;
    transition: 0.2s;
}

.ai-button:hover {
    background: #5f6368;
}

.ai-button .material-icons {
    font-size: 18px;
}